.input-item {
  display: flex;
  flex-direction: column;
}

.input-field {
  border: none;
  // border-bottom: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 12px 0px;
  box-sizing: border-box;
  outline: none;
}

.text-label {
  font-size: 12px;
  margin: 0;
}
