.login-button {
  background-color: #334e9d;
  color: white;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 270px;
  height: 39px;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;

  // &:hover {
  //   background-color: #2f3a7a;
  // }
}
