// 공통된 css만 넣기

.btn {
  // background-color: #334e9d;
  // width: 270px;
  // height: 39px;
  // font-size: 16px;

  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}
