.slide {
  max-width: 300px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;

  & h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  & .gateName {
    font-size: 1.2rem;
    margin-bottom: 15px;

    & .progress {
      font-weight: bold;
      color: red; // 게이트 진행 상태의 퍼센트 표시 색
    }
  }

  & .infoTable {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;

    & td {
      padding: 5px;
      border-bottom: 1px solid #ddd;
    }
  }

  & .workDetails {
    width: 100%;
    text-align: left;

    & th,
    & td {
      padding: 5px;
      border-bottom: 1px solid #ddd;
    }
  }
}
