.shortcut-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 42px;
  justify-items: center;
  padding: 0 35px;
}

.shortcut-item {
  border: 1px solid #ddd;
  border-radius: 7px;
  width: 102px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.service-name {
  font-size: 12px;
}

.shortcut-icon {
  width: 24px;
  height: 24px;
  align-self: flex-end;
  margin-right: 8px;
  fill: #ddd;
  margin-bottom: 3px;
}

.main-poster {
  margin-left: 35px;
  width: 250px;
  height: 131px;
  margin-bottom: 40px;
  margin-top: 24px;
}
