@mixin text-style($font-size, $color: #fff) {
  color: $color;
  font-family: Pretendard;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 1;

  margin: 25px 34px 0 34px;
}

.terminal-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.terminal-header {
  display: flex;
  align-items: center;
  padding: 4px 6px;

  border-radius: 7px 7px 0px 0px;
  background: #133384;
}

.terminal-name-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.anchor-icon {
  width: 24px;
  height: 24px; // 원하는 크기로 조절
}

.terminal-body {
  display: flex;
  flex-direction: column;

  border-radius: 0px 0px 7px 7px;
  border-right: 0.5px solid var(--border-gray-color);
  border-bottom: 0.5px solid var(--border-gray-color);
  border-left: 0.5px solid var(--border-gray-color);
}

.card-label {
  display: flex;
  padding: 6px 8px 0px 8px;
  align-items: center;
  align-self: stretch;
  width: 100%; /* 부모 요소의 너비를 지정 */
  &:last-child {
    padding-bottom: 6px;
  }
}

.status-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.text-status {
  min-width: 24px; /* 원하는 최소 너비로 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  display: inline-block; /* 크기 고정 */
}

span.badge {
  padding: 6px 8px;
  color: #fff;
  border-radius: 5px;

  min-width: 70px; /* 원하는 최소 너비로 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  display: inline-block; /* 크기 고정 */
}

.status-busy {
  background-color: var(--busy-color);
}

.status-normal {
  background-color: var(--secondary-color);
}

.status-good {
  background-color: var(--good-color);
}

.status-none {
  background-color: var(--none-color);
}

.text-terminal {
  @include text-style(13px);
  font-weight: 700;
}

.text-time {
  display: inline-flex;
  justify-content: flex-end;
  flex: 1 0 0;
  @include text-style(12px);
}

.text {
  @include text-style(14px, #000);
}
