.find-id-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 27px;

  p {
    font-size: 12px;
    color: #777777;
    align-self: start;
    margin-left: 25px;
  }

  .input-phone {
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

.verification-button,
.submit-button {
  margin-top: 202px;
}
