.logo {
  background-color: #102c57;

  font-weight: bold;
  width: 320px;
  height: 57px;

  display: flex;
  align-items: center;
  justify-content: center;

  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
}
