// 구조 관련 (layout)
.navigation-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 320px;
  justify-content: center;
  position: relative;

  &__icon {
    position: absolute;
    left: 10px;
  }
}

// 스킨 관련 (skin)
.navigation-bar {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
