// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html,
body {
  overflow-x: hidden; /* 가로 스크롤이 생기지 않도록 설정 */
  width: 100%; /* 페이지가 화면 너비를 벗어나지 않도록 */
}
