@import url('./reset.scss');

:root {
  font-size: 16px;
  font-family: Pretendard, system-ui, Arial, sans-serif;
  line-height: 1.5;

  --primary-color: #133384;
  --secondary-color: #3e7df7;
  --button-color: #334e9d;
  --gray-color: #777777;
  --busy-color: #b51111;
  --good-color: #219b61;
  --none-color: #76819b;
  --border-gray-color: #dddddd;
}
